@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 
MEDIA QUERY MANAGER

DESKTOP 16:9
0 - 640px => h-hd
641 - 960px => h-fhd
961 - 1280px => hd
1281 - 1920px => fhd => Aqui é onde estão nossos estilos normais
2500px + => fhdplus
ORDER: Base + Typography > General Layout + Grid > Page Layout > Components
1em = 16px
*/
@mixin respond($breakpoint) {
    //640px/16px = 40em
    // @if $breakpoint == h-hd {
    //     @media (max-width: 40em) {
    //         @content;
    //     }
    // }
    //960px/16px = 60em
    @if $breakpoint == h-fhd {
        @media (max-width: 60em) {
            @content;
        }
    }

    //1280px/16px = 80em
    // @if $breakpoint == hd {
    //     @media (max-width: 80em) {
    //         @content;
    //     }
    // }
    //2300px/16px = 143.75em
    @if $breakpoint == fhdplus {
        @media (min-width: 143.75em) {
            @content;
        }
    }
}
