.card {
    //FUNCTIONALITY
    perspective: 150rem; //Tem que por um número gigante de pixels
    -moz-perspective: 150rem; //Para funcionar em Firefox. Isso é preciso por que é uma funcionalidade relativamente nova
    position: relative;
    height: 52rem;

    &__side {
        //Para o efeito funcionar, a gente precisa de um elemento pai
        height: 52rem;
        width: 100%;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE CONTENT
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark
                ),
                url("../img/nat-5.jpg");
            //Só sobe uma pasta pq no fim, todo código SASS vai estar dentro de STYLE.CSS
        }
        &--2 {
            background-image: url("../img/nat-5.jpg"); //Só sobe uma pasta pq no fim, todo código SASS vai estar dentro de STYLE.CSS
        }
        &--3 {
            background-image: url("../img/nat-5.jpg"); //Só sobe uma pasta pq no fim, todo código SASS vai estar dentro de STYLE.CSS
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, 0.85),
                rgba($color-secondary-dark, 0.85)
            );
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 0.1rem solid $color-grey-light-2;
                }
            }
        }
    }
}
