.card {
    perspective: 150rem; //Tem que por um número gigante de pixels
    -moz-perspective: 150rem; //Para funcionar em Firefox. Isso é preciso por que é uma funcionalidade relativamente nova
    position: relative;
    height: 50rem;

    &__side {
        //Para o efeito funcionar, a gente precisa de um elemento pai
        font-size: 2rem;
        color: white;
        height: 50rem;
        width: 100%;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 0.3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}
