*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //Defines what 1 rem is
    font-size: 62.5%; //1rem = 10px => 10px/16px = 62.5%

    @include respond(hd) {
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(h-fhd) {
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(h-hd) {
        font-size: 40.62%; //1rem = 6.5px, 6.5/16 = 40.62%
    }

    @include respond(fhdplus) {
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(h-fhd) {
        padding: 0;
    }
}
